$negro-fondo:black;
$blanco-fondo:rgb(255, 255, 255);
$blanco2-fondo:rgb(184, 184, 184);
$gris-fondo:gray;
$azul-fondo:blue;
$azul2-fondo:rgb(61, 62, 118);


$Color-negro:rgba(0, 0, 0, 0.57);
$Color-blanco:white;
$Color-azul:blue;
$Color-amarillo:rgb(246, 255, 0);


$font-family:"Oswald", sans-serif;
$font-family2:"Bebas Neue", sans-serif;
$font-family3:"Roboto Condensed", sans-serif;
$font-family4:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;