.index-main {
    @include h(170vh);
    text-align: center;
    background-color: $azul2-fondo;
    .titulo1, .titulo2{
    font-family: $font-family2;
    font-weight: 400;
    color: $Color-blanco;
    }

    .titulo2 {
    @include margin-bottom(2.5rem);
    color: $Color-blanco;
}
    .proyectos_titulo{
            @include margin-top(0);
    font-family: $font-family3;
    color: $Color-blanco;
    }
.proyectos, .info {
       display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.info{
    @include margin-bottom(4rem);
}

.proyectos img {
    @include h(10rem);
    width: 90%;


}


.index-Proyectos {
    background-color: $blanco-fondo;
    padding:-main_ 1rem;
    font-family: $font-family3;
    border: 2.5px solid $Color-azul;
    border-radius: 2rem;
}

.index-main_proyectos img {
    @include h(10rem);
    width: 90%;

}

.index-main_article1,
.index-main_article2,
.index-main_proyectos img,
.sobre-mi_article1,
.sobre-mi_article2 {
    background-color: $blanco-fondo;
    padding: 1rem;
    font-family: $font-family3;
    border: 2.5px solid $Color-azul;
    border-radius: 2rem;
}

.index-main_proyectos img {
    background-color: $gris-fondo;
}

.sobre-mi_article1,
.sobre-mi_article2 {
@extend %flex;
    width: 50%;
    text-align: center;
    .p{
         color: $Color-blanco;
    font-weight: 400;
    }

}



.contenedor-flex_sobre-mi {
@extend %flex;
}