.index-main {
    @include h(170vh);
    text-align: center;
    background-color: $azul2-fondo;
}

.index-main_titulo1,
.index-main_titulo2 {
    font-family: $font-family2;
    font-weight: 400;
    color: $Color-blanco;
}

.index-main_titulo2 {
    @include margin-bottom(2.5rem);
    color: $Color-blanco;
}

.index-main_proyectos_titulo {
    @include margin-top(0);
    font-family: $font-family3;
    color: $Color-blanco;
}


.index-main_proyectos,
.index-main_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;

}

.index-main_info {
    @include margin-bottom(4rem);
}

.index-Proyectos {
    background-color: $blanco-fondo;
    padding: 1rem;
    font-family: $font-family3;
    border: 2.5px solid $Color-azul;
    border-radius: 2rem;
}

.index-main_proyectos img {
    @include h(10rem);
    width: 90%;

}

.index-main_article1,
.index-main_article2,
.index-main_proyectos img,
.sobre-mi_article1,
.sobre-mi_article2 {
    background-color: $blanco-fondo;
    padding: 1rem;
    font-family: $font-family3;
    border: 2.5px solid $Color-azul;
    border-radius: 2rem;
}

.index-main_proyectos img {
    background-color: $gris-fondo;
}

.sobre-mi_article1,
.sobre-mi_article2 {
@extend %flex;
    width: 50%;
    text-align: center;

}


.sobre-mi_article1 p,
.sobre-mi_article2 p {
    color: $Color-blanco;
    font-weight: 400;
}

.contenedor-flex_sobre-mi {
@extend %flex;
}